In [9]:
!python --version

Python 3.9.13

In [12]:
a = 1+3
a, type(a)

(4, int)

In [13]:
b = 3.14
b, type(b)

(3.14, float)

In [15]:
c = 'hello'
c, type(c)

('hello', str)

In [ ]:
c = "hello"
c, type(c)

('hello', str)

In [16]:
d = False
d, type(d)

(False, bool)

In [18]:
#e = list()
e = []
e, type(e)

([], list)

In [19]:
f = ()
f, type(f)

((), tuple)

In [20]:
g = {}
g, type(g)

({}, dict)

In [22]:
1+2, 1-2, 1*2

(3, -1, 2)

In [ ]:
1/2 # C계열 언어와 다르다는 것

0.5

In [77]:
537//100 # 매우 중요

5

In [ ]:
num = 1/2
num, type(num)

(0.5, float)

In [76]:
537 % 10 # 모듈라 연산

7

In [ ]:
537 % 100

37

In [ ]:
# [직접 구현]
#597이 21이 되게 > 각 자리수의 합 구하기 (직접 구현)
num = 597

def calc(a):
    result = 0
    jari = 1
    c_a = a
    # 매개변수 a는 지역변수임
    # 숫자는 불변타입으로 연산 후 재할당하면 새로운 객체의 새로운 메모리 주소를 참조하므로 원본 num이 변하지 않았던듯 

    while(c_a > 0):
        c_a = c_a // 10
        jari+=1

    for i in list(range(jari))[::-1]:
        n = 10**i
        result += a // n
        a = a % n
        
    return result

print(calc(num), num)






# [코드 리뷰]
# 밑에서 부터는 gpt 코드리뷰 후 작성해봄
#597이 21이 되게 > 각 자리수의 합 구하기2 > (변수명)

def calc2(a):
    result = 0
    num_digit = len(str(a)) # 보통 이렇게 구한다고함!
    c = a

    for i in list(range(num_digit))[::-1]: #range(jari-1, -1, -1) 추천함
        n = 10**i
        result += a // n
        a = a % n
    return result

print(calc2(num))



#597이 21이 되게 > 각 자리수의 합 구하기3 > 더 짧게! (파이썬스럽게)

def calc3(a):
    return sum(map(lambda x: int(x), str(a))) # 원본이 변경되지 않는다는 것!

print(calc3(num))




#597이 21이 되게 > 각 자리수의 합 구하기3 > 더 더 짧게!
def calc4(a):
    return sum(int(d) for d in str(a)) # 원본이 변경이 되지 않는다는 것! > general expression의 결과는 general 객체(이터레이터 객체임)!

print(calc4(num))
print(num, [int(d) for d in str(num)]) # general expression을 []안에 사용하면 list comprehesion




#597이 21이 되게 > 각 자리수의 합 구하기3 > gpt 리뷰 (수학적 접근)
def calc5(a):
    total = 0
    while a > 0:
        a, digit = divmod(a, 10)
        total += digit
    return total

print(calc5(num))

21 597
21
21
21
597 [5, 9, 7]
21

#float

In [34]:
a = 3.14 + 1
a, type(a)

(4.140000000000001, float)

In [36]:
if a==4.14:
    print("같음")
else:
    print("다름")

다름

In [42]:
s = 'hello'
#s+1 #TypeError: can only concatenate str (not "int") to str

In [ ]:
# 거듭제곱
5**3

125

In [47]:
type(s)

str

In [ ]:
s.join(["a","b","c"]) # 새로운 문자열 반환

'ahellobhelloc'

In [49]:
s.title()

'Hello'

In [ ]:
print(1, '1') # 출력값은 구분이 안된다

1 1

In [51]:
int('1')+1

2

In [52]:
"hello"

'hello'

In [ ]:
print('hello', 'word!', 1, 4, 3.14, sep='\n') # default seq값은 ' '

hello
word!
1
4
3.14

In [59]:
print('hello', end=' ') # default end값은 엔터 \n

hello

In [66]:
'1 2 3 4 5'.split()

['1', '2', '3', '4', '5']

In [ ]:
inp = '1 2 3 4 5'

def my_sum(num):
    result = 0
    for n in num.split():
        result += int(n) # String이라는것 기억하자!
    return result

my_sum(inp)

15

In [65]:
sum(map(int, inp.split()))

15

In [ ]:
# 문자열은 불변이다.
s = 'hello'
#s[0] = 'H' # TypeError: 'str' object does not support item assignment
s

'hello'

In [101]:
s[0], s[1], s[2], s[3], s[4]

('h', 'e', 'l', 'l', 'o')

In [98]:
s[-1]

'o'

In [106]:
# 슬라이싱
s[-1], s[1:3], s[1:1], s[1:len(s)], s[1:-1]

('o', 'el', '', 'ello', 'ell')

In [107]:
s[:2], s[2:]

('he', 'llo')

In [ ]:
s[::-1] # step

'olleh'

In [ ]:
# 회문 문제
s = 'aba'
s == s[::-1] # 회문인지 확인

True

In [113]:
for i in s:
    print(i)

a
b
a

In [117]:
for i in s[::-1]:
    print(i)

a
b
a

In [116]:
list(range(3))

[0, 1, 2]

In [118]:
s = 'hello'
s + ' world!'

'hello world!'

In [ ]:
# in 연산자
'e' in s

True

In [143]:
# 문자열 * 정수
"*" * 10

'**********'

#list

In [218]:
# 모음의 개수를 세는 함수

s = 'hello'

#a e i o u

def count_voewl(s):
    cnt = 0 
    for v in s:
        if v in 'aeiou':
            cnt+=1
    return cnt

count_voewl(s)

2

In [129]:
a = []
b = list()

type(a), type(b)

(list, list)

In [130]:
a = [1,2,3,4,5]
sum(a), min(a), max(a)

(15, 1, 5)

In [131]:
sum([1,2,3]), min([1,2,3]), max([1,2,3])

(6, 1, 3)

In [132]:
len(a)

5

In [133]:
int(), float(), str(), list()

(0, 0.0, '', [])

In [ ]:
class range:
    def __init__(self, a-0, b=0):
        pass

In [134]:
range(5), range(1,5), range(1, 10, 2)

(range(0, 5), range(1, 5), range(1, 10, 2))

In [135]:
list(range(5)), list(range(1,5)), list(range(1, 10, 2))

([0, 1, 2, 3, 4], [1, 2, 3, 4], [1, 3, 5, 7, 9])

In [136]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# list + list
a = [1,2,3,4,5]
a + [6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# list * 정수
[6]*2

[6, 6]

In [146]:
print(' ' * 0 + "*" * 3)
print(' ' * 1 + "*" * 2)
print(' ' * 2 + "*" * 1)

***
 **
  *

In [154]:
for i in range(3):
    print(' ' * i + "*" * (len(range(3))-i))

***
 **
  *

In [147]:
a = [1,2,3,4,5]
a[1:3]

[2, 3]

In [148]:
a = [1,2,3,4,5]
a[:len(a)//2], a[len(a)//2:]

([1, 2], [3, 4, 5])

In [149]:
for i in a:
    print(i)

1
2
3
4
5

In [150]:
for i in range(3):
    print(i)

0
1
2

# String Format

In [160]:
a = 5
b = 3.1459

f'{a}, {b:.2f}', '{:}, {:.2f}'.format(a, b)

('5, 3.15', '5, 3.15')

# swap

In [161]:
a = 1
b = 3

a, b = b, a

a, b

(3, 1)

In [162]:
def foo():
    return 1, 2

a, b = foo()

a, b

(1, 2)

# CRUD for list

In [ ]:
stack = []

def push(a):
    stack.append(a)

push(1)
push(2)
push(3)
push(4)
push(5)

stack

[1, 2, 3, 4, 5]

In [166]:
def pop():
    return stack.pop()

pop()

4

In [168]:
def top():
    return stack[-1]

top()

3

In [170]:
stack = []

def push(e):
    stack.insert(0, e)

push(1)
push(2)
push(3)
push(4)
push(5)

stack

[5, 4, 3, 2, 1]

In [171]:
def pop():
    return stack.pop(0)

pop()

5

In [172]:
def top():
    return stack[0]

top()

4

In [173]:
stack[1] = 5
stack

[4, 5, 2, 1]

In [175]:
stack.remove(2)
stack

[4, 5, 1]

In [178]:
stack.count(2) # 해당하는 요소가 몇개가 있냐

0

In [179]:
stack = [1,2,3,4,5]
del stack[1]
stack

[1, 3, 4, 5]

In [182]:
stack.index(5) # 해당하는 요소의 인덱스 번호

3

# Sorting

In [ ]:
l = [1,3,2,4,1]
l.sort() # 원본 변경 : 매우 위험해 보임

l

[1, 1, 2, 3, 4]

In [188]:
l = [1,3,2,4,1]

sorted(l) # 원본 보존 : 매우 추천!!!!!

print(l, sorted(l))

[1, 3, 2, 4, 1] [1, 1, 2, 3, 4]

In [ ]:
l = [1,3,2,4,1]

def my_sort(data):
    cp_data = data[:] # shallow copy
    for i in range(0, len(data)):
        for j in range(i+1, len(data)):
            if cp_data[i] > cp_data[j]:
                    cp_data[i], cp_data[j] = cp_data[j], cp_data[i]
    return cp_data

l2 = my_sort(l)
l2, l

([1, 1, 2, 3, 4], [1, 3, 2, 4, 1])

# tuple

In [ ]:
t1 = tuple()
t2 = (1,2,3,4,5)

type(t1), type(t2)

(tuple, tuple)

In [199]:
# 불변성
# TypeError: 'tuple' object does not support item assignment
# t[1] = 5

In [209]:
# unpacking
a, b = (1, 2)
a, b

(1, 2)

In [210]:
def foo():
    return 1,2

foo_return_val = foo()

type(foo_return_val)

tuple

In [234]:
t = (5,3,4,2,1)
# my_sort(t) # TypeError: 'tuple' object does not support item assignment

In [216]:
a, b, c = map(list,'1 2 3'.split())

a, b, c

(['1'], ['2'], ['3'])

In [217]:
a, b, c = map(int,'1 2 3'.split())

a, b, c

(1, 2, 3)

# list comprehension

In [ ]:
# 모음의 개수를 세는 함수 > list comprehension으로!

s = 'hello'

#a e i o u

def count_voewl2(str):
    lst = [i for i in str if i in 'aeiou']
    return len(lst)

count_voewl2(s)

2

In [229]:
data = [1,2,3]

#[1,4,9]
new_data = [i*i for i in data]
new_data

[1, 4, 9]

In [228]:
new_data2 = [i for i in data if i % 2 != 0]
new_data2

[1, 3]